{% extends "default.twig" %}

{% block content %}

<h2>Create a world</h2>

<form class="uk-form">

<fieldset data-uk-margin>

{% for field, type in fieldset.fields %}

	{% if type == "text" %}

	<label for="{{field}}">{{ field }}<input type="{{ type }}" name="{{field}}"></label>

	{% endif %}

	{% if type == "textarea" %}

	<p> {{ field }} ... </p>
	<textarea name="{{field}}"></textarea>

	{% endif %}

{% endfor %}
</fieldset>

<input class="uk-button" type="submit" value="Save">
</form>

{% endblock %}
